@import "tailwindcss";

@font-face {
    font-family: 'Nutino';
    src: url('/fonts/Nunito-VariableFont.ttf') format('truetype');
}

@font-face {
    font-family: 'Nutino Sans';
    src: url('/fonts/NunitoSans-VariableFont.ttf') format('truetype');
}

@theme{

    --font-header: 'Nutino', 'Satoshi', system-ui, sans-serif;
    --font-text: 'Nutino Sans', 'Satoshi', system-ui, sans-serif;

    --color-red-primary: #FD4B4E;
    --color-red-secondary: #EA3222;

    --color-white-primary: #FFFFFF;
    --color-white-secondary: #DBDBDB;
    --color-white-tersery: #BEBEBE;

    --color-black-primary: #0F0F0F;
    --color-black-secondary: #000000;
    --color-black-tersery: #1D1D1D;
    
    --color-hover-tersery: #171717;
    --color-hover-primary: #1f1d1d;
    --color-hover-secondary: #1d1d1d;

    --color-button-disabled: #262626;
    --color-disabledtext: #737373;

}

body,html{
    @apply min-h-screen bg-black-primary text-white scroll-smooth;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.header{
    @apply sticky top-0 px-4 md:px-18 pt-2 md:pt-3 z-50;
}

.header-title{
    @apply md:hidden text-xl font-extrabold text-red-primary underline;
}

.header-items{
    @apply flex items-center gap-4
}

.header-links{
    @apply font-medium text-xs;
}

/* space before tbody */
tbody:before {
    content:"@";
    display:block;
    line-height:0.2rem;
    text-indent:-99999px;
}

/* Player Styles */
.track-seeker {
  -webkit-appearance: none; 
  appearance: none;
  @apply bg-white-secondary h-[3px] rounded-full;
}

/* WebKit (Chrome, Safari) */
.track-seeker::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    @apply rounded-full bg-red-primary w-3 h-3 cursor-pointer border-none ;
}

/* Firefox */
.track-seeker::-moz-range-thumb {
    @apply rounded-full bg-red-primary w-3 h-3 cursor-pointer border-none ;
}

/* volume slider */
.volume-seeker {
  -webkit-appearance: none; 
  appearance: none;
  @apply bg-red-primary h-[3px] rounded-full;
}

/* WebKit (Chrome, Safari) */
.volume-seeker::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    @apply rounded-full bg-red-primary w-3 h-3 cursor-pointer border-none ;
}

/* Firefox */
.volume-seeker::-moz-range-thumb {
    @apply rounded-full bg-red-primary w-3 h-3 cursor-pointer border-none ;
}

/* transition styles */
.slide-in{
    @apply fixed top-0 left-0 w-full min-h-screen bg-black origin-bottom;
}

.slide-out{
    @apply fixed top-0 left-0 w-full min-h-screen bg-black origin-top;
}

/* Country Dropdown */
.stdropdown-item{
    /* background-color: black !important; */
    color: black !important;
}

.stdropdown-container{
    border: none !important;
}

.stdropdown-tool>svg>path{
    fill: white !important;
}
.stsearch-box>input{
    border: none !important;
    outline: none !important;
}

/* User option */
.usr-li{
    @apply border-b border-b-gray-500;
}