@import "tailwindcss";

@theme{
    --color-red-primary: #FD4B4E;
    --color-red-secondary: #EA3222;

    --color-white-primary: #FFFFFF;
    --color-white-secondary: #DBDBDB;
    --color-white-tersery: #BEBEBE;

    --color-black-primary: #0F0F0F;
    --color-black-secondary: #000000;
    --color-black-tersery: #1D1D1D;
    
    --color-hover-primary: #171717;
    --color-hover-secondary: #1d1d1d;
}

body,html{
    @apply min-h-screen bg-black-primary text-white scroll-smooth;
}


.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.track-seeker::-webkit-slider-thumb{
    appearance: none;
    background-color: black;
}

.header{
    @apply sticky top-0 px-4 md:px-8 lg:px-48 pt-2 md:pt-3 z-50;
}

.header-title{
    @apply md:hidden text-xl font-extrabold text-red-primary underline;
}

.header-items{
    @apply flex items-center gap-4
}

.header-links{
    @apply font-medium text-xs;
}

/* space before tbody */
tbody:before {
    content:"@";
    display:block;
    line-height:0.2rem;
    text-indent:-99999px;
}